#### List of data types
1. Numbers - int, float
2. String - str
3. Array - list
4. Hash Table/Dictionary - dict
5. Set - set
6. Tuple - tuple
7. Files
8. Custom - class

In [4]:
4//2

2

In [3]:
4%2

0

In [5]:
import random

In [13]:
random.randint(1,5)

2

In [14]:
def random_value(a, b):
    result = random.randint(a,b)
    return result

In [20]:
random_value(10,20)

15

In [25]:
def random_series(a,b):
    
    for i in range(0,5):
        print(random_value(10,20))

In [26]:
random_series(10,20)

17
12
10
17
15

### Immutability vs Mutability
    * Referencing in Python
    * String, Integers vs Lists

In [63]:
# id function to get the memory address
a = 10
id(a)

4304818336

In [64]:
b = a
id(b)

4304818336

In [65]:
a = 90
id(a)

4304820896

In [66]:
b

10

In [67]:
id(b)

4304818336

In [68]:
a = ['a', 'b']
id(a)

4388031816

In [69]:
a = list_1
id(a)

4388031816

In [70]:
a.append('c')
id(a)

4388031816

In [71]:
b

['a', 'b', 'c']

In [36]:
a = "arunank"
a[1]

'r'

In [42]:
id(a)

4389923560

In [40]:
a[1:3] = 'bcd'

TypeError: 'str' object does not support item assignment

In [43]:
a = a + "a"

In [44]:
id(a)

4387659696

In [45]:
a

'arunanka'

In [48]:
a = list('x')

In [49]:
a

['x']

In [ ]:
list = 90

In [50]:
a= 90

In [51]:
a

90

In [52]:
a = 2
b = 3
a*b

6

In [ ]:
a = 90
a = "ac"

In [53]:
x = "x"
y = 2
x * y

'xx'

In [54]:
a = 90

In [55]:
a

90

In [56]:
a = 60

In [57]:
a

60

In [61]:
sample_list = ['a', 'b']
sample_list

['a', 'b']

In [59]:
sample_list.append('c')

In [60]:
sample_list

['a', 'b', 'c']

In [62]:
sample_tuple = (2,3)
sample_tuple

(2, 3)

In [ ]:
sample_tuple = (3,5)
sample_tuple

In [72]:
a = "1"
c = int(1)

In [73]:
c

1

In [77]:
5 % 3

2

In [76]:
5 // 3

1

In [ ]:
def foo(arg):
    bar
    return

In [78]:
a = "string"

In [79]:
a[0]

's'

In [80]:
a[5]

'g'

In [81]:
len(a)

6

In [83]:
a[len(a)-1]

'g'

In [86]:
sample_string = "Welcome to CachePrep!"

In [87]:
sample_string[0]

'W'

In [90]:
sample_string[0:3]

'Wel'

In [91]:
sample_string_2 = "Let us crack that interview! "

In [92]:
sample_string + sample_string_2

'Welcome to CachePrep!Let us crack that interview! '

In [93]:
sample_string * 3

'Welcome to CachePrep!Welcome to CachePrep!Welcome to CachePrep!'

In [95]:
for i in sample_string:
    if i != " ":
        print(i)

W
e
l
c
o
m
e
t
o
C
a
c
h
e
P
r
e
p
!

In [96]:
a = [1,2,3]

In [97]:
if a:
    print(a)

[1, 2, 3]

In [98]:
b = []/{}/0/"" => False

In [99]:
if b:
    print(b)

In [100]:
a = None

In [103]:
if a is None:
    print("2")

2

In [104]:
a = None

In [105]:
id(a)

4304536536

In [ ]:
[1, 'a', 'None', True]
{'a': 1,}

## Lists and Dictionaries - the heart and soul of Python

In [85]:
# List Methods
sample_list = []
sample_list = list()


# append
# insert
# extend
# remove
# pop
# reverse
# sort

def use_list_methods_and_print_result(sample_list=['x', 'y', 'z']):
    sample_list.append('a')
    print("Sample List after append:", sample_list)
    
    sample_list.insert(0, 'b')
    print("Sample List after insert:", sample_list)
    
    sample_list.extend('c')
    print("Sample List after extend:", sample_list)
    
    sample_list.remove('b')
    print("Sample List after remove:", sample_list)
    
    sample_list.pop()
    print("Sample List after pop:", sample_list)
    
    sample_list.reverse()
    print("Sample List after reverse:", sample_list)
    
    sample_list.sort()
    print("Sample List after sort:", sample_list)
    return sample_list

In [86]:
sample_list = use_list_methods_and_print_result()

Sample List after append: ['x', 'y', 'z', 'a']
Sample List after insert: ['b', 'x', 'y', 'z', 'a']
Sample List after extend: ['b', 'x', 'y', 'z', 'a', 'c']
Sample List after remove: ['x', 'y', 'z', 'a', 'c']
Sample List after pop: ['x', 'y', 'z', 'a']
Sample List after reverse: ['a', 'z', 'y', 'x']
Sample List after sort: ['a', 'x', 'y', 'z']

In [36]:
# Concatenate - same as string
sample_list = sample_list + ['i', 'j', 'k', 'l']
print('Sample List afer concatenation using + operator:', sample_list)

# Add elements to list
sample_list += ['s', 't', 'u', 'v']
print('Sample List afer concatenation using += operator:', sample_list)

Sample List afer concatenation using + operator: ['a', 'a', 'c', 'x', 'z', 'i', 'j', 'k', 'l']
Sample List afer concatenation using += operator: ['a', 'a', 'c', 'x', 'z', 'i', 'j', 'k', 'l', 's', 't', 'u', 'v']

In [87]:
# Indexing
print(sample_list[0])

# Slicing
print(sample_list[0:2])
print(sample_list[1:])
print(sample_list[:2])

# Selecting every nth element
print(sample_list[0::3])

# Reversing using index
print(sample_list[::-1])

# Indexing from end
print(sample_list[-3:])

# Length of list
print("Length of sample list is:", len(sample_list))

a
['a', 'x']
['x', 'y', 'z']
['a', 'x']
['a', 'z']
['z', 'y', 'x', 'a']
['x', 'y', 'z']
Length of sample list is: 4

In [96]:
# Looping

for any_placeholder_name in sample_list:
    print(any_placeholder_name)

print("*" * 50)
# Print Index and value of sample list using range function
for element in range(0, len(sample_list)):
    print(element, "::", sample_list[element])

print("x" * 50)

# Print Index and value of sample list using enumerate function
idx
for idx, value, val, element in enumerate(sample_list):
    print(idx, "::", value)

cities = ['Agra', 'Delhi']

for city in cities:
    print(city)
    
print("x" * 50)

# List Comprehension Expression / Generator
# = [i + "a" for i in sample_list]
sample_list_2 = [i + "a" for i in sample_list]
print(sample_list_2)

a
x
y
z
**************************************************
0 :: a
1 :: x
2 :: y
3 :: z
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
0 :: a
1 :: x
2 :: y
3 :: z
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
['aa', 'xa', 'ya', 'za']

In [90]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [43]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [91]:
sample_list

['a', 'x', 'y', 'z']

In [95]:
list(range(0, len(sample_list)))

[0, 1, 2, 3]

In [93]:
for idx in range(0, len(sample_list)):
    print(idx, ":", sample_list[idx])

0 : a
1 : x
2 : y
3 : z

In [ ]:
['a', 'x', 'y', 'z', .....]

In [107]:
for i in sample_list:
    print(i)

a
x
y
z

In [ ]:
[i for i in sample_list]

### Dictionary

In [ ]:
# Links between multiple columns

In [71]:
sample_dict_wanted = {
    "surbhi": "DTU",
    "nitin": "DCE",
    "ritanshu": "IITD"
}

In [97]:
# Initialise empty dict and assign value to key
sample_dict = {}
sample_dict = dict()
sample_dict['surbhi'] = "DTU"
sample_dict['nitin'] = "DCE"
sample_dict['ritanshu'] = "IITD"
print(sample_dict)

{'surbhi': 'DTU', 'nitin': 'DCE', 'ritanshu': 'IITD'}

In [99]:
sample_dict['ritanshu']  =  "DTU"
print(sample_dict)

{'surbhi': 'DTU', 'nitin': 'DCE', 'ritanshu': 'DTU'}

In [100]:
# .keys()
for any_name_key in sample_dict.keys():
    print(any_name_key)

print("*" * 50)

# .values()
for any_name_value in sample_dict.values():
    print(any_name_value)

print("x" * 50)

# .items()
for k, v in sample_dict.items():
    print(k, "::", v)

print("x" * 50)

surbhi
nitin
ritanshu
**************************************************
DTU
DCE
DTU
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
surbhi :: DTU
nitin :: DCE
ritanshu :: DTU
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

In [101]:
# Indexing using []
surbhi_college = sample_dict['surbhi']
print(surbhi_college)

DTU

In [102]:
# Indexing using [] - if key is not present
sample_dict['arunank']

KeyError: 'arunank'

In [103]:
a = sample_dict.get("arunank", "Key is not avaialbale")
print(a)

Key is not avaialbale

In [65]:
try:
    a = sample_dict['arunank']
except KeyError as e:
    print(e)

'arunank'

In [104]:
# Comprehension expression
sample_dict_2 = { name:college for name, college in sample_dict.items() }
print(sample_dict_2)

{'surbhi': 'DTU', 'nitin': 'DCE', 'ritanshu': 'DTU'}

In [106]:
city = ['patna', 'delhi', 'mumbai', 'patna']
'kanpur'
# O(n)

city_dict = {i: True for i in city}
print(city_dict)
# O(1)

{'patna': [0, 3], 'delhi': [1], 'mumbai': [2]}

{'patna': True, 'delhi': True, 'mumbai': True}

### Sets
Collection of unique objects - Keys of a dictionary

In [83]:
sample_set = {'a', 'b', 'c', 'a'}

In [84]:
print(sample_set)

{'c', 'a', 'b'}

In [80]:
sample_set_2 = sample_set
print(sample_set_2)

{'c', 'a', 'b'}

### Iterators and Comprehensions

In [1]:
sample_list = list()
dir(sample_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [134]:
sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
a = sample_list.__iter__()

In [132]:
print(a)

<range_iterator object at 0x111e7a7b0>

In [20]:
dir(a)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [146]:
a.__next__()

StopIteration:

In [141]:
b = sample_list

In [32]:
c = iter(b)

In [37]:
c.__next__()

3

In [38]:
dir(c)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [39]:
d = {1:2, 3:4}

In [40]:
for x in d:
    print(x)

1
3

### Assignment
map, zip, filter, range + list comprehension
- 4 most common inbuilt iterator functions

1. Print first 10 integers using range, iter and __next__() method.
2. Combine two given lists into a list of tuples using zip. Print the result.
3. Print the values greater than 0 in the given list using filter.
4. Print the square of list of given integers using map.
5. Instead of using __next__() and printing each value one by one, print all values at once.

In [60]:
# 1. Print first 10 integers using range, iter and __next__() method.
first_10_range = range(10)
first_10_iter = iter(first_10_range)

0

In [62]:
print(first_10_iter.__next__())

2

In [99]:
list(first_10_iter)

[3, 4, 5, 6, 7, 8, 9]

In [105]:
# 2. Combine two given lists into a list of tuples using zip. Print the result.
student_names = ['surbhi', 'nitin', 'ritanshu']
college = ['dtu', 'dce', 'iitd']

In [106]:
student_college = zip(student_names, college)

In [103]:
student_college.__next__()

('surbhi', 'dtu')

In [107]:
list(student_college)

[('surbhi', 'dtu'), ('nitin', 'dce'), ('ritanshu', 'iitd')]

In [153]:
# 3. Print the values greater than 0 in the given list using filter.
def is_greater_than_0(val):
    if val > 0:
        return True
greater_than_0 = filter(is_greater_than_0, [-1, 1, -3, 3, 5])

In [152]:
greater_than_0.__next__()

1

In [154]:
list(greater_than_0)

[1, 3, 5]

In [149]:
# 4. Print the square of list of given integers using map.

def get_square(val):
    return val * val

square_values = map(get_square, [-1, 2, -3, 4, 5])

In [148]:
square_values.__next__()

1

In [150]:
list(square_values)

[1, 4, 9, 16, 25]

### Functions

In [ ]:
def function_name(key, val):
    # body
    result
    return result

# get/do/fetch - verb
# snake case - _
# do one thing only - as atomic as possible

def prepare_url:
    return url

def make_api_call:
    return

def get_data_from_git():
    url = prepare_url()
    response = make_api_call()
    return response.text

## Arguments

In [ ]:
# Method 1 - explicit argument naming
def sum_3_numbers(a,b,c):
    return a+b+c

In [ ]:
sum_3_numbers(a=1, b=2, c=3):

In [ ]:
# Method 2 - **dict 
def sum_4_numbers(a, b, c, d):
    return a+b+c

In [129]:
x = {'a':1, 'b':2, 'c': 3, 'd': 4}
sum_4_numbers(**x)

6

### Lambda Function

In [119]:
# General Function using def to add three numbers
def function_name(x, y, z): 
    a = 1
    b = 2
    
    return x + y + z

print(function_name(1,2,3))

6

In [120]:
# Same functtionn using lambda
# f is assigned the function object the lambda expression creates
f = lambda x, y, z: x + y + z
f(1,2,3)

6

In [124]:
# Default argument value to lambda
x = (lambda a="Cache ", b="Prep ", c="InterviewPrep": a + b + c)
x("data science ")

'data science Prep InterviewPrep'

### Jump Tables
lambdas are also commonly used to code jump tables, which are lists or dictionaries of actions to be performed on demand. For example:

In [131]:
# Inline function definition
# A list of 3 callable functions
# Prints 4, 8, 16
# Prints 9
L = [lambda x: x ** 2, lambda x: x ** 3, lambda x: x ** 4]
for f in L: 
    print(f(2))
print("*" * 50)
print(L[0](3))

4
8
16
**************************************************
9

### Namespace and Scope
1. Namespace: A namespace is a dictionary, mapping names (as strings) to values. When you do an assignment, like a = 1, you're mutating a namespace. When you make a reference, like print(a), Python looks through a list of namespaces to try and find one with the name as a key.
2. Scope: A scope defines which namespaces will be looked in and in what order. The scope of any reference always starts in the local namespace, and moves outwards until it reaches the module's global namespace, before moving on to the builtins (the namespace that references Python's predefined functions and constants, like range and getattr), which is the end of the line.
3. Lexical Scoping
4. LEGB

NameError: name 'Z' is not defined

In [113]:
# Global scope 
X = 99

def func(Y):
    # Local scope
    Z = X + Y 
    return Z

func(1)

# X and func assigned in module: global # Y and Z assigned in function: locals
# X is a global
# func in module: result=100

100

In [114]:
# Global scope 
X = 99
func(1)

# X and func assigned in module: global # Y and Z assigned in function: locals
# X is a global
# func in module: result=100

11

In [156]:
X = 99
def func(Y):
    # Local scope
    X = 10
    Z = X + Y 
    print(X)
    return Z

In [157]:
func(Y=12)

10

22

In [115]:
# Global scope 
X = 99

def func(Y):
    # Local scope
    global X
    Z = X + Y 
    return Z

func(1)

# X and func assigned in module: global # Y and Z assigned in function: locals
# X is a global
# func in module: result=100

100

In [118]:
# Argument Passing
def min1(*args): 
    res = args[0]
    for arg in args[1:]: 
        if arg < res: 
            res = arg
    return res

def min2(first, *rest): 
    for arg in rest:
        if arg < first: 
            first = arg
    return first

def min3(*args):
    tmp = list(args)
    tmp.sort() 
    return tmp[0]

print(min1('a','x','d','b'))
print(min2(3,4,1,2))
print(min3(3,4,1,2))

a
1
1

In [126]:
if (condition_1):
elif (condition_2):
else:

In [127]:
# condition_1 - true 95
# condition_2 - 4
# else: - 1

In [158]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [159]:
a = [1,2,3,4,5]

In [162]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [163]:
class a_list(list):
    def __init__(self, x):
        self.x = x
    def __add__(self, b):
        print(b + "xyz")
        return b + "xyz"

In [165]:
a = a_list('a')

In [166]:
a + 'b'

bxyz

'bxyz'

In [167]:
a_list.__add__(a, 'b')

bxyz

'bxyz'